# Certificatie

Sommige mensen willen gewoon een course doorlopen om zelf iets bij te leren, maar anderen willen de course doorlopen en kunnnen bewijzen dat ze voor die course geslaagd zijn. En nog andere mensen willen een echt certificaat dat bewijst dat een onderwijsinstelling geverifiëerd heeft dat ze geslaagd zijn, dit om bijvoorbeeld in aanmerking te komen voor bepaalde jobs. Kortom, er is certificatie nodig.

## Verificatie in edx

Edx voorziet al verificatie in de vorm van certificaten. 
Er zijn enkele soorten certificaten.

### Honor code certificates

Dit is een standaardcertifcaat dat zegt dat je een bepaalde course doorlopen hebt. Er is wel geen verificatie van je identiteit.

### Verified certificates

Dit certificaat bewijst dat je geslaagd bent voor een course en verifiëert ook je identiteit. Dit door middel van je identiteitskaart en enkele foto's die genomen kunnen worden met je webcam. Gebruikers moeten aangeven dat zij geïnteresseerd zijn in dit certificaat bij het deelnemen aan een course. Voor dit certificaat word wel een kleine betaling gevraagd die variabel is per course.

### XSeries certificates

Deze certificaten kunnen verkregen worden wanneer je slaagt voor een reeks courses over eenzelfde onderwerp. Denk hierbij misschien aan de verschillende tracks binnen NMCT. Zo zou je bijvoorbeeld een XSeries certificate kunnen hebben voor web developer.

## Wat met gearchiveerde courses?

Wanneer een course gearchiveerd is zijn er geen certificaten beschikbaar. De course kan wel nog volledig gevolgd worden zonder zaken zoals forums.

## Zijn er terugbetalingen mogelijk?

Ja, er is een periode van 2 weken vanaf de startdatum van de course dat iemand zich nog kan bedenken en aangeven dat hij en course niet alger volgt voor een betalend certificaat of volledig stoppen met de course. Na de 2 weken is er wel geen terugbetaling meer mogelijk.