# Verification

Sommige mensen willen gewoon een course doorlopen om zelf iets bij te leren, maar anderen willen de course doorlopen en kunnnen bewijzen dat ze voor die course geslaagd zijn. Dit om bijvoorbeeld in aanmerking te komen voor bepaalde jobs. Kortom, er is verificatie nodig.

## Verificatie in edx

Edx voorziet al verificatie in de vorm van certificaten
